<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - term6_Frontend</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/main.js"></script>
    </head>

    <body>
        <div class="NavPage">
            <div class="NavPage__container">
                <div class="NavPage__button" onclick="hide()">
                    <img src="assets/icons/close.svg" />
                </div>

                <ul class="NavPage__list NavPage__list--navigation">
                    @{
                        foreach (var item in ViewBag.NavLinks)
                        {
                            <li><a>@item</a></li>
                        }
                    }
                </ul>

                <ul class="NavPage__list NavPage__list--contacts">
                    @{
                        foreach (var item in ViewBag.Contacts)
                        {
                            <li><img src="@item[1]"/><a>@item[0]</a></li>
                        }
                    }
                </ul>
            </div>
        </div>

        <header>
            <div class="Header">
                <div class="Header__container">
                    <img class="Header__logo" src="assets/logo/dark.svg"/>

                    <div class="Header__button--mobile" onclick="show()">
                        <img src="assets/icons/menu.svg"/>
                    </div>

                    <ul class="Header__list">
                        @{
                            foreach (var item in ViewBag.NavLinks)
                            {
                                <li><a>@item</a></li>
                            }
                        }
                    </ul>

                    <img class="Header__icon" src="assets/icons/phone.svg"/>
                    <div class="Header__number"><a>+7 (900) 900-90-90</a></div>

                    <div class="Header__button">
                        Оставить заявку
                    </div>
                </div>
            </div>
        </header>

        @RenderSection("Slider", false)

    </body>
</html>
